.betOnTheGoChild {
  position: relative;
  border-radius: var(--br-base);
  width: 18.75rem;
  height: 23.38rem;
  object-fit: cover;
  z-index: 0;
}
.why63Icon {
  position: absolute;
  margin: 0 !important;
  top: 2.94rem;
  left: 7.38rem;
  width: 4rem;
  height: 4.69rem;
  object-fit: cover;
  z-index: 1;
}
.betOnThe {
  font-size: var(--font-size-3xl);
}
.blankLine {
  font-size: var(--font-size-5xl);
}
.betOnTheGo1 {
  font-family: var(--font-gabarito);
  color: var(--color-whitesmoke-100);
}
.blankLine1 {
  font-size: var(--font-size-base);
}
.betOnTheGoBjAppAllows {
  margin: 0;
}
.betOnTheContainer {
  position: absolute;
  margin: 0 !important;
  top: 9.63rem;
  left: 2.44rem;
  display: inline-block;
  width: 13.94rem;
  height: 10.75rem;
  flex-shrink: 0;
  z-index: 2;
}
.betOnTheGo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-100);
  font-family: var(--font-gabarito);
}
