.notJustChild {
  position: relative;
  width: 2084px;
  height: 1182px;
  object-fit: cover;
  z-index: 0;
}
.not {
  margin: 0;
}
.wereNotJustContainer {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  width: 275px;
  height: 448px;
  flex-shrink: 0;
}
.wereChild {
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--color-crimson-100);
  width: 16px;
  height: 714px;
}
.notJustInner,
.were,
.wereParent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.were {
  width: 297px;
  height: 728px;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.notJustInner,
.wereParent {
  justify-content: center;
}
.wereParent {
  gap: var(--gap-11xl);
}
.notJustInner {
  margin: 0 !important;
  position: absolute;
  top: 257px;
  left: 397.5px;
  z-index: 1;
}
.notJust {
  width: 2084px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
  text-align: right;
  font-size: var(--font-size-50xl);
  color: var(--color-lightgray-200);
  font-family: var(--font-gabarito);
}
