@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.frameChild,
.world12Icon {
  position: relative;
  object-fit: cover;
}
.world12Icon {
  width: 2079px;
  height: 1106px;
  z-index: 0;
}
.frameChild {
  width: 286.9px;
  height: 238px;
}
.no1 {
  font-weight: 800;
}
.worldssNo1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.79em;
  display: inline-block;
  width: 310px;
  height: 24px;
  flex-shrink: 0;
  font-family: inherit;
}
.bestOnline {
  margin: 0;
}
.bestOnlineBettingContainer {
  margin: 0;
  position: relative;
  font-size: var(--font-size-21xl);
  letter-spacing: 0.13em;
  font-weight: 700;
  font-family: inherit;
  color: var(--color-whitesmoke-200);
  display: inline-block;
  width: 310px;
  height: 96px;
  flex-shrink: 0;
  opacity: 0;
}
.bestOnlineBettingContainer.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.worldssNo1Parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.rectangleParent {
  width: 630px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.asia {
  position: relative;
  display: inline-block;
  width: 65.9px;
  opacity: 0.3;
}
.frameItem {
  border-radius: 50%;
  width: 23px;
  height: 23px;
  object-fit: cover;
}
.cambodia,
.frameItem {
  position: relative;
}
.ellipseParent {
  width: 81px;
  gap: var(--gap-3xs);
}
.ellipseGroup,
.ellipseParent,
.frameDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.ellipseGroup {
  gap: var(--gap-3xs);
  text-align: left;
}
.frameDiv {
  width: 88px;
  gap: var(--gap-xs);
}
.frameChild3 {
  position: relative;
  width: 23px;
  height: 23px;
  object-fit: cover;
}
.vectorParent {
  width: 84px;
  gap: var(--gap-3xs);
}
.ellipseParent2,
.vectorGroup,
.vectorParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.ellipseParent2 {
  width: 83px;
  gap: var(--gap-3xs);
}
.vectorGroup {
  gap: var(--gap-xs);
}
.asiaParent,
.frameContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameContainer {
  width: 597px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-46xl);
  text-align: center;
}
.asiaParent {
  flex-direction: column;
  gap: var(--gap-2xs);
  z-index: 0;
}
.northAmerica {
  position: relative;
  display: inline-block;
  width: 71px;
  opacity: 0.3;
}
.frameChild6 {
  position: relative;
  border-radius: 50%;
  width: 23px;
  height: 22.7px;
  object-fit: cover;
}
.canada {
  position: relative;
  display: inline-block;
  width: 50.7px;
  flex-shrink: 0;
}
.ellipseParent3,
.northAmericaParent {
  display: flex;
  justify-content: flex-start;
}
.ellipseParent3 {
  width: 91px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-mini);
}
.northAmericaParent {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-6xl);
}
.southAmerica {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 71px;
  opacity: 0.3;
}
.brazil {
  position: relative;
  display: inline-block;
  width: 36.5px;
  flex-shrink: 0;
}
.ellipseParent4 {
  position: absolute;
  top: 37px;
  left: 0;
  width: 91px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.southAmericaParent {
  position: relative;
  width: 91px;
  height: 59.7px;
}
.frameGroup,
.frameParent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent1 {
  margin: 0 !important;
  position: absolute;
  top: 137px;
  left: 0;
  flex-direction: row;
  gap: var(--gap-36xl);
  z-index: 1;
}
.frameGroup {
  height: 215px;
  flex-direction: column;
  position: relative;
  gap: var(--gap-3xs);
  font-size: var(--font-size-3xs);
}
.frameParent {
  margin: 0 !important;
  position: absolute;
  top: 271px;
  left: 959px;
  gap: var(--gap-sm);
  z-index: 1;
}
.frameParent,
.hero,
.world12Parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.world12Parent {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  gap: var(--gap-3xs);
  z-index: 0;
}
.hero {
  width: 2077px;
  position: relative;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-gabarito);
}
