.milestonesChild {
  position: relative;
  width: 2077px;
  height: 1178px;
  object-fit: cover;
  z-index: 0;
}
.milestones1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  width: 361.4px;
}
.frameChild {
  position: relative;
  background-color: var(--color-darkslategray);
  width: 183.2px;
  height: 3px;
}
.milestonesParent {
  margin: 0 !important;
  position: absolute;
  top: 149px;
  left: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-55xl);
  z-index: 1;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-darkgray);
  font-family: var(--font-gabarito);
}
.frameItem {
  position: relative;
  border-radius: 50%;
  width: 41px;
  height: 41px;
  object-fit: cover;
}
.ellipseParent,
.milestones {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.ellipseParent {
  margin: 0 !important;
  position: absolute;
  top: 448px;
  left: 1725px;
  display: none;
  gap: var(--gap-xl);
  opacity: 0.7;
  z-index: 2;
}
.milestones {
  width: 2077px;
  display: flex;
  position: relative;
  gap: var(--gap-3xs);
}
