.frameChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 8.69rem;
  height: 6.56rem;
  object-fit: cover;
}
.stayConnected {
  position: absolute;
  top: 7.38rem;
  left: 0.94rem;
}
.socialIcons {
  position: relative;
  width: 1.13rem;
  height: 1.13rem;
  overflow: hidden;
  flex-shrink: 0;
}
.socialIconsParent {
  position: absolute;
  top: 9.5rem;
  left: 0.81rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.rectangleParent {
  position: relative;
  width: 12.31rem;
  height: 10.63rem;
  color: var(--color-gray-800);
}
.quickLinks {
  position: absolute;
  top: 0;
  left: 0;
}
.home {
  margin-block-start: 0;
  margin-block-end: 15px;
}
.locations {
  margin: 0;
}
.homeMilestonesAboutContainer {
  position: absolute;
  top: 2.44rem;
  left: 0.94rem;
  color: var(--color-dimgray-300);
}
.quickLinksParent {
  position: relative;
  width: 6.13rem;
  height: 10rem;
}
.cambodiaVietnamPhilippinesContainer {
  position: absolute;
  top: 2.44rem;
  left: 0.56rem;
  color: var(--color-dimgray-300);
}
.bj88Parent,
.bjBajiParent {
  position: relative;
  width: 5.75rem;
  height: 14.25rem;
}
.bjBajiParent {
  width: 6.06rem;
  height: 7.88rem;
}
.bjBorajogarParent {
  position: relative;
  width: 6.5rem;
  height: 3.63rem;
}
.image13Icon,
.image14Icon,
.image15Icon {
  position: absolute;
  height: 1.44rem;
  object-fit: cover;
}
.image13Icon {
  top: 2.19rem;
  left: 0;
  width: 1.31rem;
}
.image14Icon,
.image15Icon {
  top: 2.13rem;
  left: 2.06rem;
  width: 1.25rem;
}
.image15Icon {
  left: 4.19rem;
  width: 1.31rem;
}
.responsibleGamingParent {
  position: relative;
  width: 9.63rem;
  height: 3.63rem;
}
.gamingLicense,
.image12Icon {
  position: relative;
}
.image12Icon {
  width: 5rem;
  height: 1.56rem;
  object-fit: cover;
}
.gamingLicenseParent {
  width: 7.56rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.frameGroup {
  flex-direction: column;
  gap: var(--gap-22xl);
  color: var(--color-gray-800);
}
.footerInner,
.frameGroup,
.frameParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  flex-direction: row;
  gap: var(--gap-91xl);
}
.footerInner {
  background-color: var(--color-gray-400);
  width: 129.81rem;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-32xl) var(--padding-353xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-700);
  font-family: var(--font-gabarito);
}
