.supportChild {
  position: relative;
  border-radius: var(--br-base);
  width: 18.75rem;
  height: 23.38rem;
  object-fit: cover;
  z-index: 0;
}
.why21Icon {
  position: absolute;
  margin: 0 !important;
  top: 3.19rem;
  left: 7.38rem;
  width: 4rem;
  height: 4.69rem;
  object-fit: cover;
  z-index: 1;
}
.support2 {
  font-size: var(--font-size-3xl);
}
.blankLine {
  font-size: var(--font-size-5xl);
}
.support1 {
  font-family: var(--font-gabarito);
  color: var(--color-whitesmoke-100);
}
.blankLine1 {
  font-size: var(--font-size-base);
}
.supportOur247CustomerSup {
  margin: 0;
}
.supportOur247CustomerContainer {
  position: absolute;
  margin: 0 !important;
  top: 11.06rem;
  left: 2.44rem;
  display: inline-block;
  width: 13.94rem;
  height: 9.81rem;
  flex-shrink: 0;
  z-index: 2;
}
.support {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-100);
  font-family: var(--font-gabarito);
}
