.about1Child {
  position: relative;
  width: 2084px;
  height: 1178px;
  object-fit: cover;
  z-index: 0;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 1px;
  border-radius: var(--br-base);
  background-color: var(--color-gray-700);
  width: 1290px;
  height: 751px;
}
.photoIcon {
  position: relative;
  width: 330px;
  height: 748px;
  object-fit: cover;
}
.yourUltimateAllInOne {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.frameChild {
  position: relative;
  background-color: var(--color-gray-300);
  width: 284px;
  height: 4px;
}
.lookingForAn {
  margin: 0;
}
.lookingForAnContainer {
  position: relative;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
  text-align: left;
  display: inline-block;
  width: 823px;
  height: 420px;
  flex-shrink: 0;
}
.yourUltimateAllInOneOnlinParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-32xl);
}
.photoParent {
  position: absolute;
  top: 3px;
  right: 83px;
  width: 1208px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-36xl);
}
.rectangleParent {
  position: relative;
  width: 1291px;
  height: 751px;
}
.about1Inner {
  margin: 0 !important;
  position: absolute;
  top: 95px;
  left: 407px;
  align-items: flex-start;
  z-index: 1;
}
.about1,
.about1Inner,
.about1Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.about1 {
  width: 2084px;
  align-items: flex-start;
  position: relative;
  gap: var(--gap-3xs);
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-gabarito);
}
.about1Wrapper {
  align-items: center;
}
